.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.new", :default => "Small statistic")}", admin_statsfull_small_path        
      %li= link_to "#{t("web-app-theme.list", :default => "Full statistic")}", admin_statsfull_index_path      
    .secondary-navigation
      %ul.wat-cf
        %li.first.active= link_to "Top Viewed", admin_statsfull_small_path
        %li=link_to "Top Downloaded", admin_statsfull_top_downloaded_path
  .content
    %h2.title
      = "Top Templates Viewed"
    .inner
      %table.table
        %tr
          %th="Template ID"
          %th="Times viewed"
          %th.last
        - @top_viewed.sort{|a,b| b[1]<=>a[1]}.each do |key, value|
          %tr{:class => cycle("odd", "even")}
            %td
              = key
            %td
              = value
            %td.last
              = checker(key)
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar', :locals => {:path => admin_statsfull_small_path})
