.group
  = f.label :group_id, t("activerecord.attributes.admin.ht_url", :default => "Group ID"), :class => :label
  - if group_id
    = f.text_field :group_id, :class => 'text_field', :value => group_id, :disabled => true
    = f.text_field :group_id, :class => 'text_field', :value => group_id, :type => 'hidden'
  - else
    = f.text_field :group_id, :class => 'text_field', :value => group_id

.group
  = f.label :f_name, t("activerecord.attributes.admin.images", :default => "Select file"), :class => :label
  = f.file_field :f_field
  
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_template_index_path, :class => "text_button_padding link_button"
