.group
  = f.label :tag, t("activerecord.attributes.admin.ht_url", :default => "Tag"), :class => :label
  = f.text_field :tag, :class => 'text_field'

.group
  = f.label :name_project, t("activerecord.attributes.admin.images", :default => "Project Name"), :class => :label
  = f.text_field :name_project, :class => 'text_field'

.group
  = f.label :f_name, t("activerecord.attributes.admin.images", :default => "Select image file"), :class => :label
  = f.file_field :f_field
  
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_path, :class => "text_button_padding link_button"
